In [1]:
from rake_nltk import Rake
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer 
token = pd.read_csv('tokenized.csv',usecols=['Name','Story','NounAdj'], nrows=7000)

token.head()

,Name,Story,NounAdj
0,외눈박이 물고기의 사랑,"\n\r\n시인이자 명상가, 번역가로 활동중인 류시화의 두번째 시집. 일상 언어들을...",시인 이자 명상 번역가 활동 류시화 두번째 시집 일상 언어 사용 세계 빚 그 시 마...
1,지금 알고 있는 걸 그때도 알았더라면,\n\r\n20여 년간 명상과 인간의식 진화에 대한 번역서를 소개하면서 시를 써온 ...,여 년 명상 인간 의식 진화 대한 번역 를 소개 온 류시화 사랑 잠언 시집 삶 대한...
2,연인,\n\r\n우리들 가슴 어딘가에 감추어져 있는 진정한 사랑의 풍경소리를 찾아가는 푸...,우리 가슴 어딘가 사랑 풍경 소리 푸른 툭눈 이야기 운주사 풍경 삶 현재 사랑 못 ...
3,연인,\n\r\n우리들 가슴 어딘가에 감추어져 있는 진정한 사랑의 풍경소리를 찾아가는 푸...,우리 가슴 어딘가 사랑 풍경 소리 푸른 툭눈 이야기 운주사 풍경 삶 현재 사랑 못 ...
4,섬진강 이야기1,\n\r\n남도 5백 리 길 세 개의 도와 열두 개의 군을 거쳐 지나가며 사람들의 ...,남도 백 리 길 세 개 도 개 군 사람 삶 강 우리 뇌리 가장 강 기억 섬진강 사계...

In [29]:
token = token.dropna(axis=0)

In [30]:
token.isnull().sum()

Name       0
Story      0
NounAdj    0
dtype: int64

In [31]:
import operator

token['Key_words'] = ''
r = Rake()
for index, row in token.iterrows():
    r.extract_keywords_from_text(row['NounAdj'])
    key_words_dict_scores = r.get_word_degrees()
    key_words_dict_scores = sorted(key_words_dict_scores.items(), key=operator.itemgetter(1))
    temp = []
    for i in key_words_dict_scores[-5:]:
        temp.append(i[0])
    row['Key_words'] = temp

In [32]:
token.head()

,Name,Story,NounAdj,Key_words
0,외눈박이 물고기의 사랑,"\n\r\n시인이자 명상가, 번역가로 활동중인 류시화의 두번째 시집. 일상 언어들을...",시인 이자 명상 번역가 활동 류시화 두번째 시집 일상 언어 사용 세계 빚 그 시 마...,"[가볍게, 없는, 깊어진, 시집, 세계]"
1,지금 알고 있는 걸 그때도 알았더라면,\n\r\n20여 년간 명상과 인간의식 진화에 대한 번역서를 소개하면서 시를 써온 ...,여 년 명상 인간 의식 진화 대한 번역 를 소개 온 류시화 사랑 잠언 시집 삶 대한...,"[시집, 사람, 새로운, 대한, 삶]"
2,연인,\n\r\n우리들 가슴 어딘가에 감추어져 있는 진정한 사랑의 풍경소리를 찾아가는 푸...,우리 가슴 어딘가 사랑 풍경 소리 푸른 툭눈 이야기 운주사 풍경 삶 현재 사랑 못 ...,"[풍경, 푸른, 툭눈, 사랑, 삶]"
3,연인,\n\r\n우리들 가슴 어딘가에 감추어져 있는 진정한 사랑의 풍경소리를 찾아가는 푸...,우리 가슴 어딘가 사랑 풍경 소리 푸른 툭눈 이야기 운주사 풍경 삶 현재 사랑 못 ...,"[풍경, 푸른, 툭눈, 사랑, 삶]"
4,섬진강 이야기1,\n\r\n남도 5백 리 길 세 개의 도와 열두 개의 군을 거쳐 지나가며 사람들의 ...,남도 백 리 길 세 개 도 개 군 사람 삶 강 우리 뇌리 가장 강 기억 섬진강 사계...,"[것, 책아름다운, 있다, 개, 강]"

In [34]:
token['Bag_of_words'] = ''
columns = ['Key_words']
for index, row in token.iterrows():
    words = ''
    for col in columns:
        words += ' '.join(row[col]) + ' '
    row['Bag_of_words'] = words

In [37]:
token.head(20)

                     Name                   Key_words           Bag_of_words
0            외눈박이 물고기의 사랑      [가볍게, 없는, 깊어진, 시집, 세계]      가볍게 없는 깊어진 시집 세계
1    지금 알고 있는 걸 그때도 알았더라면        [시집, 사람, 새로운, 대한, 삶]        시집 사람 새로운 대한 삶
2                      연인         [풍경, 푸른, 툭눈, 사랑, 삶]         풍경 푸른 툭눈 사랑 삶
3                      연인         [풍경, 푸른, 툭눈, 사랑, 삶]         풍경 푸른 툭눈 사랑 삶
4                섬진강 이야기1        [것, 책아름다운, 있다, 개, 강]        것 책아름다운 있다 개 강
5                  고수의 일침          [있는, 고수, 저자, 말, 책]          있는 고수 저자 말 책
6          꽃보다 먼저 마음을 주었네        [마음, 하나, 서정, 시집, 자연]        마음 하나 서정 시집 자연
7               슬픈 아일랜드 1    [철저하게, 문학, 장편소설, 현실, 작가]    철저하게 문학 장편소설 현실 작가
8               슬픈 아일랜드 2    [철저하게, 문학, 장편소설, 현실, 작가]    철저하게 문학 장편소설 현실 작가
9             무서운 세계사의 미궁       [새로운, 작가, 역사, 사건, 있다]       새로운 작가 역사 사건 있다
10               그리스 신화 1    [제우스, 올림포스, 신들, 신화, 그리스]    제우스 올림포스 신들 신화 그리스
11              곽재구의 포구기행         [여행, 것, 시인, 당신, 포구]         여행 것 시인 당신 포구
12              곽재구의 포구기행         [여행, 것, 시인, 당신, 포구]         여행 것 시인 당신 포구
13       외딴 마을의 빈집이 되고 싶다  [있는, 아름답고, 만족스런, 아름다운, 시로]  있는 아름답고 만족스런 아름다운 시로
14                  작은 위로        [모든, 이, 작은, 필요한, 위로]        모든 이 작은 필요한 위로
15                  작은 위로        [모든, 이, 작은, 필요한, 위로]        모든 이 작은 필요한 위로
16                  작은 위로        [모든, 이, 작은, 필요한, 위로]        모든 이 작은 필요한 위로
17               옛날의 사금파리          [말, 것, 집, 이야기, 서울]          말 것 집 이야기 서울
18  한 번뿐인 내 인생 10대부터 준비한다        [있도록, 자신, 준비, 직업, 것]        있도록 자신 준비 직업 것
19           간지럽고 싶다, 한없이         [집, 대한, 예술, 문화, 문학]         집 대한 예술 문화 문학

In [36]:
token = token[['Name','Key_words','Bag_of_words']]

================== 키워드 3개 가져오기 =====================

유저가 키워드 3개 선택하면 ( name : user / key_words : 선택1,2,3 / Bag_of_words : 선택1 선택2 선택3 ) 행 추가

In [39]:
# EX)

# 유저가 '곽재구의 포구기행'  입력
# [여행, 것, 시인, 당신, 포구] 중 [여행, 시인, 포구] 선택

user = pd.DataFrame(data={'Name':['user'], 'Key_words':[' '], 'Bag_of_words':['여행 시인 포구']}, index=[len(token)])

token_user = token.append(user)
token_user.tail()

                  Name                Key_words        Bag_of_words
6996           아름다운 바보   [따뜻한, 생각, 동화, 어린이, 마음]   따뜻한 생각 동화 어린이 마음
6997  서토를 정복하라! 광개토태왕기   [있도록, 있는, 광개토, 수, 입니다]   있도록 있는 광개토 수 입니다
6998  세상에서 가장 아름다운 거짓말  [수지, 가장, 아름다운, 세상, 거짓말]  수지 가장 아름다운 세상 거짓말
6999  세상에서 가장 아름다운 거짓말  [수지, 가장, 아름다운, 세상, 거짓말]  수지 가장 아름다운 세상 거짓말
6649              user                                     여행 시인 포구

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(token_user['Bag_of_words'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print(cosine_sim)

[[1.         0.25672861 0.         ... 0.         0.         0.        ]
 [0.25672861 1.         0.         ... 0.         0.         0.        ]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         1.         0.        ]
 [0.         0.         0.         ... 1.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [41]:
indices = pd.Series(token_user['Name'])

In [42]:
indices

0               외눈박이 물고기의 사랑
1       지금 알고 있는 걸 그때도 알았더라면
2                         연인
3                         연인
4                   섬진강 이야기1
                ...
6996                 아름다운 바보
6997        서토를 정복하라! 광개토태왕기
6998        세상에서 가장 아름다운 거짓말
6999        세상에서 가장 아름다운 거짓말
6649                    user
Name: Name, Length: 6650, dtype: object

In [45]:
def recommend(title, cosine_sim = cosine_sim):
    recommended_books = []
    idx = indices[indices == title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indices = list(score_series.iloc[2:12].index)
    
    for i in top_10_indices:
        recommended_books.append(list(token_user['Name'])[i])
        
    return recommended_books

In [46]:
recommend('user')

['곽재구의 포구기행',
 '곽재구의 포구기행',
 '곽재구의 포구기행',
 '곽재구의 포구기행',
 '따뜻한 종이컵',
 '한시의 성좌',
 '따뜻한 종이컵',
 '캘리포니아',
 '벼랑 덩굴손',
 '달개비꽃']